.modal-input-airline{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 250px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-left: 50px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 2);
}

.modal-content-flight{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    width: 800px;
    height: 350px;
}

.modal-content-flight h2{
    text-align: center;
    margin-top: 40px;
}