.bg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background-color: white;
}
.img{
    height: 75vh;
    width: 600px;
    background-image: url("https://images.unsplash.com/photo-1506012787146-f92b2d7d6d96?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YWlycGxhbmUlMjB2aWV3fGVufDB8fDB8fHww&w=1000&q=80");
}
.regis{

    background-color: aqua;
    height: 75vh;
    width: 600px;
}