.seat_main_1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat_main_2{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seat_left_1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-right: 50px;
}
.seat_left_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.seat_right_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}
.seat_right_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}