.seat_main_1{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat_main_2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat_main_3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat_main_4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.seat_1{
    border-top: 1px solid black;
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_2{
    border-top: 1px solid black;
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_3{
    border-top: 1px solid black;
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_1_main_2{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_2_main_2{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_3_main_2{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_1_main_3{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_2_main_3{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_3_main_3{
    padding: 25px 0px 0px 25px;
    display: flex;
    flex-direction: row;
}
.seat_1_main_4{
    border-bottom: 1px solid black;
    padding: 25px 0px 25px 25px;
    display: flex;
    flex-direction: row;
}
.seat_2_main_4{
    border-bottom: 1px solid black;
    padding: 25px 0px 25px 25px;
    display: flex;
    flex-direction: row;
}
.seat_3_main_4{
    border-bottom: 1px solid black;
    padding: 25px 0px 25px 25px;
    display: flex;
    flex-direction: row;
}
.seat_left_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_left_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_left_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_left_4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_left_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_mid_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_mid_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_mid_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_mid_4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_mid_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_right_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_right_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_right_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_right_4{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.seat_right_5{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}