*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Home{
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* content */

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content{
    background-image: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    border-radius: 250px;
    height: 50vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* head */

a{
    text-decoration: none;
}
.logo{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a{
    color: #333;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px 30px 150px;
}
.navcenter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    font-size: 18px;
}
.navhome{
    border-radius: 30px;
}
.navhome a{
    color: #333;
}
.navorder a{
    color: #333;
}
.navfav a{
    color: #333;
}
.in{
    display: flex;    
}
.sign{
    background-color: rgb(54, 54, 246);
    border-radius: 30px;
    width: 125px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;  
}
.sign a{
    color: white;
}
.log{
    background-color: rgb(54, 54, 246);
    border-radius: 30px;
    width: 125px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.log a{
    color: white;
}


/* data */

.datainput{
    margin: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputwhere{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    padding: 0px 10px;
    margin: 0px 10px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit a{
    margin-top: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 200px;
    height: 35px;
    padding: 0px 5px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
}

.ticket{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.ticket-form{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 600px;
    height: 75px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 2);
}

.goto{
    margin-right: 20px;
}
.date{
    margin-right: 20px;
}
.time{
    margin-right: 20px;
}
.next{
    background-color: #333;
    height: 30px;
    width: 90px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.next a{
    color: white;
}

@media screen and (max-width: 480px) {
    .nav{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
        font-size: 30px;
    }
    .in{
        position: absolute;
        top: 10%;
        right: 0;
        width: 150px;
        background: aqua;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px;
        transition: all .55s ease;
    }
    .sign{
        margin-bottom: 10px;
    }
}


