*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.Home{
    background-image: linear-gradient(rgb(82, 177, 214),white);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* content */

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.content h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* head */

a{
    text-decoration: none;
}
.logo{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a{
    color: #313866;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 30px 150px;
}
.in{
    display: flex;    
}
.sign{
    background-color: #313866;
    border-radius: 30px;
    width: 125px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;  
}
.sign a{
    color: white;
}
.log{
    background-color: #313866;
    border-radius: 30px;
    width: 125px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.log a{
    color: white;
}

/* data */

.datainput{
    margin: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputwhere{
    border: none;
    outline: none;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    padding: 0px 10px;
    margin: 0px 10px;
}

@media screen and (max-width: 480px) {
    .nav{
        display: block;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 20px;
        font-size: 30px;
    }
    .in{
        position: absolute;
        top: 10%;
        right: 0;
        width: 150px;
        background: aqua;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px 20px;
        transition: all .55s ease;
    }
    .sign{
        margin-bottom: 10px;
    }
}


