.nav-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px 50px 150px;
}
.logo-user{
    font-size: 50px;
}
.logo-user a{
    color: #333;
}
.navcenter-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navhome-user a{
    color: black;
    font-size: 18px;
}
.navorder-user{
    margin-left: 100px;
    margin-right: 100px;
}
.navorder-user a{
    color: black;
    font-size: 18px;
}
.navfav-user a{
    color: black;
    font-size: 18px;
}
.nav-username{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    font-size: 20px;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 30px
}

.dropdown{
    width: 400px;
    margin: 50px auto;
}
.dropdown-btn{
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
    color: #333;
    padding: 15px 20px;
    cursor: pointer;
}
.dropdown-content{
    position: absolute;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    background: #fff;
    top: 86%;
    width: 400px;
    color: #333;
    padding: 15px;
}

.dropdowm-item{
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s;
}
.dropdowm-item:hover{
    background: #efeded;
}

.icon-user-exit{
    position: absolute;
    right: 115px;
    top: 65px;
}